@import "scrollbar.css";


@tailwind base;
@tailwind components;
@tailwind utilities;




/*.homepage-section {*/
/*    @apply absolute top-0 left-0 w-full mx-3 lg:mx-24 text-center  overflow-auto scrollbar-line flex flex-col pt-16 pb-8  h-full;*/
/*}*/

/*.homepage-section-content {*/
/*    @apply h-full w-full overflow-auto p-6  rounded-2xl;*/
/*}*/





.homepage-body {
    @apply min-h-screen flex flex-col items-center justify-start  bg-gray-50
}
